/* Cấp tài khoản */
.content_account{
    width: 100%;
}
.content_account h1{
    text-align: center;
    margin:50px 0;
    color: #2da5f5;
} 
.content_account-new{
    display: flex;
    margin-left: 60px;
}
.content_account-text{
    width: 50%;
    padding: 20px;
    margin-left: 30px;
}
.content_account-input{
    margin-bottom: 50px;
}
.content_account-input label{
    font-size: 22px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
}
.content_account-input input{
    float: right;
    font-size: 15px;
    margin-right: 50px;
    padding:15px 100px 15px 10px;
    outline: none;
}
.content_account-input input:focus{
    border: 2px solid #2da5f5;
}
input[placeholder]{
    font-style: italic;
}
.content_account-img{
    width: 50%;
    margin-top: 30px;
    display: flex;
    padding-left: 50px;
    
}
.content_account-img label{
    font-size: 22px;
}
.content_account-boximg:hover .content_account-boximg::after{
    animation: run 2s linear alternate;
}
@keyframes run{
    form{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(2);
        opacity: 1;
    }
}

.content_account-boximg{
    padding:120px;
    margin-left: 10%;
    height: 80%;
    background-color: rgba(0, 0, 0,0.32);
    cursor: pointer;
    position:relative;
    border-radius: 10px;
}
.content_account-boximg::after{
    content: "";
    display: block;
    height: 2px;
    width: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--text-color);
    position: absolute;
}
.content_account-boximg::before{
    content: "";
    display: block;
    height: 17%;
    width: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--text-color);
    position: absolute;
}
.content_icondown{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}


.content_table th,
.content_table td{
    padding:10px;
}
.content_table.account{
    display: flex;
    margin: 50px 0;
    border-color: transparent; 
    justify-content: center;
}
/* B1_pages */



/* Mã phường */

.content_table.code{
    width: 40%;
    margin-bottom: 50px;
}